/*---------- base css ----------*/
body {
  background: $color-bg;
  font-family: $font-Quicksand;
  font-size: $font-size-xs;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-sm;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-Quicksand;
}
a {
  color: $color-link;
}
a:focus {
  outline: none;
}
.pd50 {
  padding: 50px 0;
}
.color-text {
  color: $color-text !important;
}
.b-fixed {
  position: fixed !important;
  background: $color-bg;
  top: 0;
  width: 100%;
  z-index: 11;
  box-shadow: 3px 3px 3px #ddd;
}
.text-red {
  color: #eb2629;
}
.text_title {
  font-size: 28px;
  color: $color-text;
}
/*---------- end base css ----------*/
