//font
//font

@font-face {
    font-family: "Quicksand-Medium";
    src: url("../fonts/Quicksand-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.woff2") format("woff2"),
        url("../fonts/Quicksand-Medium.ttf") format("truetype"), url("../fonts/Quicksand-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
