//color
$color-bg: #e6e6e6;
$color-bg2: #ce1324;
$color-link: #0000ff;
$color-link-hover: #0000ff;
$color-text: #1d243c;
$color-border: #ddd;
$color-time: #999;
$color-orange: #eca81e;

$color-primary: #ce1324;
$color-secondary: #6668f1;
$color-info: #0084ff;
$color-success: #75d72c;
$color-warning: #ebe606;
$color-danger: #db2522;

$color-white: #fff;
$color-black: #000;
//$color-gray: #48576f;
//$color-pink: #f6459d;
//$color-violet: #c436fe;

//width
$container-sm: 738px;
$container-sm-number: 738;
$container-md: 970px;
$container-md-number: 970;
$container-lg: 1140px;
$container-lg-number: 1140;

//grid size
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-max: ($screen-lg-min + 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-xs: 576px;
//more grid size
$screen-xs-min: $screen-xs;
$screen-xxs-max: ($screen-xs-min - 1);

//font
$font-arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-lato: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-roboto: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-roboto-condensed: "Roboto Condensed", "Roboto", Arial;
$font-open-sans: "Open Sans", "Roboto", Arial, sans-serif;
$font-awesome: "FontAwesome";
$font-utmFrench: "utm-french-vanilla", sans-serif;
$font-robotoCondensed: "Conv_RobotoCondensed-Regular", sans-serif;
$font-Quicksand: "Quicksand-Medium", sans-serif;
$font-GoogleSans: "Conv_GoogleSans-Regular", sans-serif;

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-sm: 14px;
$line-height-sm: 20px;
