@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/Quicksand-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.ttf") format("truetype"), url("../fonts/Quicksand-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*---------- base css ----------*/
body {
  background: #fff;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 14px; }
  @media (min-width: 768px) {
    body {
      font-size: 14px; } }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand-Medium", sans-serif; }

a {
  color: #0000ff; }

a:focus {
  outline: none; }

.pd50 {
  padding: 50px 0; }

.color-text {
  color: #1d243c !important; }

.b-fixed {
  position: fixed !important;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 11;
  box-shadow: 3px 3px 3px #ddd; }

.text-red {
  color: #eb2629; }

.text_title {
  font-size: 28px;
  color: #1d243c; }

/*---------- end base css ----------*/
/*---------- helpers css ----------*/
.h-text__underline {
  text-decoration: underline !important; }

.h-text__none {
  text-decoration: none !important; }

.h-text__inline-block {
  display: inline-block;
  vertical-align: top;
  width: auto; }

.h-cursor__pointer {
  cursor: pointer !important; }

/*---------- end helpers css ----------*/
/*---------- base small css ----------*/
.b-maincontent {
  font-size: 14px;
  line-height: 20px; }
  .b-maincontent p {
    font-size: 14px;
    margin: 0 0 5px; }
  .b-maincontent img {
    max-width: 100%;
    height: auto !important; }

.b-nodata {
  padding: 10px 0; }

.b-table {
  width: 100%;
  display: table; }

.b-table__row {
  display: table-row; }

.b-table__cell {
  display: table-cell;
  vertical-align: middle; }

.b-grid {
  margin: 0;
  padding: 0;
  min-height: 60px; }
  .b-grid .b-grid__img {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden; }
    .b-grid .b-grid__img img {
      width: 100%;
      min-height: 50px; }
  .b-grid .b-grid__content {
    margin-left: 60px; }
  .b-grid .b-grid__row {
    margin-bottom: 5px; }
    .b-grid .b-grid__row:last-child {
      margin-bottom: 0; }
  .b-grid .b-grid__row-right {
    text-align: right;
    margin-bottom: 5px; }
  .b-grid .b-grid__title {
    font-weight: bold;
    margin-right: 3px; }
  .b-grid a.b-grid__title {
    cursor: pointer; }
  .b-grid .b-grid__small-title {
    font-weight: normal;
    margin-right: 3px; }
  .b-grid a.b-grid__small-title {
    cursor: pointer; }

@media (min-width: 768px) {
  .b-maincontent {
    font-size: 14px;
    line-height: 20px; }
    .b-maincontent p {
      font-size: 14px; } }
/*---------- end base small css ----------*/
/*---------- sprite css ----------*/
[class*="icon12"] {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon16"] {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon20"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon24"] {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon32"] {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon36"] {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon48"] {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle; }

[class*="icon64"] {
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle; }

/*---------- end sprite css ----------*/
/*---------- fix owl carousel css ----------*/
.owl-carousel .owl-item img {
  transform-style: flat; }

/*---------- end fix owl carousel css ----------*/
/*---------- fix bootstrap css ----------*/
.row.xs-reset-all {
  margin-left: 0;
  margin-right: 0; }

[class*="col-xs-"].reset-padding-all {
  padding-left: 0;
  padding-right: 0; }

[class*="col-xs-"].reset-padding-left {
  padding-left: 0; }

[class*="col-xs-"].reset-padding-right {
  padding-right: 0; }

.row.xs-reset-5 {
  margin-left: -5px;
  margin-right: -5px; }

[class*="col-xs-"].padding-all-5 {
  padding-left: 5px;
  padding-right: 5px; }

[class*="col-xs-"].padding-left-5 {
  padding-left: 5px; }

[class*="col-xs-"].padding-right-5 {
  padding-right: 5px; }

.row.xs-reset-10 {
  margin-left: -10px;
  margin-right: -10px; }

[class*="col-xs-"].padding-all-10 {
  padding-left: 10px;
  padding-right: 10px; }

[class*="col-xs-"].padding-left-10 {
  padding-left: 10px; }

[class*="col-xs-"].padding-right-10 {
  padding-right: 10px; }

@media (min-width: 768px) {
  .row.sm-reset-all {
    margin-left: 0;
    margin-right: 0; }

  [class*="col-sm-"].reset-padding-all {
    padding-left: 0;
    padding-right: 0; }

  [class*="col-sm-"].reset-padding-left {
    padding-left: 0; }

  [class*="col-sm-"].reset-padding-right {
    padding-right: 0; }

  .row.sm-reset-5 {
    margin-left: -5px;
    margin-right: -5px; }

  [class*="col-sm-"].padding-all-5 {
    padding-left: 5px;
    padding-right: 5px; }

  [class*="col-sm-"].padding-left-5 {
    padding-left: 5px; }

  [class*="col-sm-"].padding-right-5 {
    padding-right: 5px; }

  .row.sm-reset-10 {
    margin-left: -10px;
    margin-right: -10px; }

  [class*="col-sm-"].padding-all-10 {
    padding-left: 10px;
    padding-right: 10px; }

  [class*="col-sm-"].padding-left-10 {
    padding-left: 10px; }

  [class*="col-sm-"].padding-right-10 {
    padding-right: 10px; } }
@media (min-width: 992px) {
  .row.md-reset-all {
    margin-left: 0;
    margin-right: 0; }

  [class*="col-md-"].reset-padding-all {
    padding-left: 0;
    padding-right: 0; }

  [class*="col-md-"].reset-padding-left {
    padding-left: 0; }

  [class*="col-md-"].reset-padding-right {
    padding-right: 0; }

  .row.md-reset-5 {
    margin-left: -5px;
    margin-right: -5px; }

  [class*="col-md-"].padding-all-5 {
    padding-left: 5px;
    padding-right: 5px; }

  [class*="col-md-"].padding-left-5 {
    padding-left: 5px; }

  [class*="col-md-"].padding-right-5 {
    padding-right: 5px; }

  .row.md-reset-10 {
    margin-left: -10px;
    margin-right: -10px; }

  [class*="col-md-"].padding-all-10 {
    padding-left: 10px;
    padding-right: 10px; }

  [class*="col-md-"].padding-left-10 {
    padding-left: 10px; }

  [class*="col-md-"].padding-right-10 {
    padding-right: 10px; } }
@media (min-width: 1200px) {
  .row.lg-reset-all {
    margin-left: 0;
    margin-right: 0; }

  [class*="col-lg-"].reset-padding-all {
    padding-left: 0;
    padding-right: 0; }

  [class*="col-lg-"].reset-padding-left {
    padding-left: 0; }

  [class*="col-lg-"].reset-padding-right {
    padding-right: 0; }

  .row.lg-reset-5 {
    margin-left: -5px;
    margin-right: -5px; }

  [class*="col-lg-"].padding-all-5 {
    padding-left: 5px;
    padding-right: 5px; }

  [class*="col-lg-"].padding-left-5 {
    padding-left: 5px; }

  [class*="col-lg-"].padding-right-5 {
    padding-right: 5px; }

  .row.lg-reset-10 {
    margin-left: -10px;
    margin-right: -10px; }

  [class*="col-lg-"].padding-all-10 {
    padding-left: 10px;
    padding-right: 10px; }

  [class*="col-lg-"].padding-left-10 {
    padding-left: 10px; }

  [class*="col-lg-"].padding-right-10 {
    padding-right: 10px; } }
/*---------- end fix bootstrap css ----------*/
/*---------- fix wordpress css ----------*/
.wp-caption {
  max-width: 100%; }

.c-yoast-breadcrumb {
  padding: 10px 0; }
  .c-yoast-breadcrumb a {
    text-decoration: none;
    color: #1d243c; }
    .c-yoast-breadcrumb a:hover {
      color: #ce1324; }
    .c-yoast-breadcrumb a:after {
      content: "/";
      color: #999;
      margin: 0 3px; }

.arve-wrapper {
  text-align: center; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignleft {
  margin-top: 10px;
  margin-bottom: 10px; }

.alignright {
  margin-top: 10px;
  margin-bottom: 10px; }

@media (min-width: 992px) {
  .alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-top: 0;
    margin-bottom: 0; }

  .alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0; } }
@media (max-width: 991px) {
  .alignleft {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .alignright {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; } }
/*---------- end fix wordpress css ----------*/
/*---------- fix acf map css ----------*/
.acf-map {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  margin: 0; }

.acf-map img {
  max-width: inherit !important; }

/*---------- end fix acf map css ----------*/
/*---------- header css ----------*/
.b-header {
  position: relative; }
  .b-header .b-header__menu-navbar ul li a.nav-link {
    text-transform: uppercase;
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid transparent; }
  .b-header .b-header__menu-navbar ul li.active a.nav-link, .b-header .b-header__menu-navbar ul li:hover a.nav-link {
    color: #d6a937; }

/*---------- end header css ----------*/
/*---------- menu css ----------*/
.c-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .c-menu > ul > li {
    float: left; }
    .c-menu > ul > li > a {
      text-decoration: none;
      display: block; }

/*---------- end menu css ----------*/
/*---------- footer css ----------*/
/*footer*/
.footer .top .__left .__logo {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center; }

.footer .top .__left .--title {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  text-transform: uppercase;
  margin: 30px 0px 10px; }

.footer .top .__left .icon-logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff; }

.footer .top .__left .icon-logo img {
  margin-right: 10px; }

.b__footer .b__footer--bottom {
  background: #ce1324;
  position: relative; }
  .b__footer .b__footer--bottom .b__icon--top {
    position: absolute;
    right: 10px;
    top: -100px;
    z-index: 1; }
    .b__footer .b__footer--bottom .b__icon--top img {
      max-width: 100%; }
  .b__footer .b__footer--bottom .footer {
    position: relative;
    padding: 45px 8.3333333333%;
    background: #356f0e; }
    @media only screen and (max-width: 1024px) {
      .b__footer .b__footer--bottom .footer {
        padding: 45px 30px 93px; } }
    @media only screen and (max-width: 768px) {
      .b__footer .b__footer--bottom .footer {
        padding: 45px 30px 63px; } }
    @media only screen and (max-width: 480px) {
      .b__footer .b__footer--bottom .footer {
        padding: 45px 15px 63px; } }
    .b__footer .b__footer--bottom .footer .top,
    .b__footer .b__footer--bottom .footer .bottom {
      display: flex; }
      @media only screen and (max-width: 768px) {
        .b__footer .b__footer--bottom .footer .top,
        .b__footer .b__footer--bottom .footer .bottom {
          flex-direction: column; } }
    .b__footer .b__footer--bottom .footer .__left,
    .b__footer .b__footer--bottom .footer .--copyright {
      width: 30.4166666667%; }
      @media only screen and (max-width: 768px) {
        .b__footer .b__footer--bottom .footer .__left,
        .b__footer .b__footer--bottom .footer .--copyright {
          width: 100%; } }
    .b__footer .b__footer--bottom .footer .__right,
    .b__footer .b__footer--bottom .footer .--note {
      width: 69.5833333333%; }
      @media only screen and (max-width: 768px) {
        .b__footer .b__footer--bottom .footer .__right,
        .b__footer .b__footer--bottom .footer .--note {
          width: 100%; } }
    .b__footer .b__footer--bottom .footer .top {
      padding-bottom: 35px; }
      @media only screen and (max-width: 768px) {
        .b__footer .b__footer--bottom .footer .top {
          padding-bottom: 0px; } }
      .b__footer .b__footer--bottom .footer .top .__left .logo {
        display: block;
        max-width: 90px; }
        @media only screen and (max-width: 768px) {
          .b__footer .b__footer--bottom .footer .top .__left .logo {
            margin: 0 15px; } }
        .b__footer .b__footer--bottom .footer .top .__left .logo img {
          display: block;
          max-width: 100%;
          height: auto; }
      .b__footer .b__footer--bottom .footer .top .__left .--follow-us {
        padding-top: 30px; }
        @media only screen and (max-width: 768px) {
          .b__footer .b__footer--bottom .footer .top .__left .--follow-us {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 0px; } }
        .b__footer .b__footer--bottom .footer .top .__left .--follow-us p {
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
          padding-bottom: 14px; }
        .b__footer .b__footer--bottom .footer .top .__left .--follow-us .--item {
          display: flex; }
          .b__footer .b__footer--bottom .footer .top .__left .--follow-us .--item a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #85ba4b;
            width: 40px;
            height: 40px;
            margin-right: 4px; }
            .b__footer .b__footer--bottom .footer .top .__left .--follow-us .--item a:last-child {
              margin-right: 0px; }
            .b__footer .b__footer--bottom .footer .top .__left .--follow-us .--item a i {
              color: #ffffff;
              font-size: 13px; }
      .b__footer .b__footer--bottom .footer .top .__right .--block {
        width: calc((100% - 13%) / 2);
        margin-right: 13%;
        float: left; }
        @media only screen and (max-width: 1024px) {
          .b__footer .b__footer--bottom .footer .top .__right .--block {
            width: calc((100% - 45px) / 2);
            margin-right: 45px; } }
        @media only screen and (max-width: 768px) {
          .b__footer .b__footer--bottom .footer .top .__right .--block {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 15px; }
            .b__footer .b__footer--bottom .footer .top .__right .--block:last-child {
              margin-bottom: 30px; } }
        .b__footer .b__footer--bottom .footer .top .__right .--block:nth-of-type(2n) {
          margin-right: 0px; }
        .b__footer .b__footer--bottom .footer .top .__right .--block .--item {
          margin-bottom: 28px; }
          @media only screen and (max-width: 768px) {
            .b__footer .b__footer--bottom .footer .top .__right .--block .--item {
              margin-bottom: 15px; } }
          .b__footer .b__footer--bottom .footer .top .__right .--block .--item:last-child {
            margin-bottom: 0px; }
          .b__footer .b__footer--bottom .footer .top .__right .--block .--item a, .b__footer .b__footer--bottom .footer .top .__right .--block .--item:hover, .b__footer .b__footer--bottom .footer .top .__right .--block .--item:focus {
            color: #ffffff; }
          .b__footer .b__footer--bottom .footer .top .__right .--block .--item .--title {
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            color: #ffffff; }
          .b__footer .b__footer--bottom .footer .top .__right .--block .--item .--excerpt {
            font-size: 14px;
            line-height: 24px;
            color: #ffffff; }
            .b__footer .b__footer--bottom .footer .top .__right .--block .--item .--excerpt .text-tel {
              font-size: 40px; }
    .b__footer .b__footer--bottom .footer .bottom .--copyright {
      font-size: 12px;
      line-height: 22px;
      color: #ffffff;
      padding-top: 35px; }
      @media only screen and (max-width: 768px) {
        .b__footer .b__footer--bottom .footer .bottom .--copyright {
          order: 2;
          padding-top: 30px;
          text-align: center; } }
    .b__footer .b__footer--bottom .footer .bottom .--note {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding-top: 35px;
      padding-right: 10%; }
      @media only screen and (max-width: 1024px) {
        .b__footer .b__footer--bottom .footer .bottom .--note {
          padding-right: 0px; } }
      @media only screen and (max-width: 768px) {
        .b__footer .b__footer--bottom .footer .bottom .--note {
          order: 1;
          padding-top: 30px; } }
      .b__footer .b__footer--bottom .footer .bottom .--note p {
        font-size: 13px;
        line-height: 21px;
        color: #ffffff;
        margin-bottom: 20px; }
        @media only screen and (max-width: 480px) {
          .b__footer .b__footer--bottom .footer .bottom .--note p {
            margin-bottom: 10px; } }
        .b__footer .b__footer--bottom .footer .bottom .--note p:last-child {
          margin-bottom: 0px; }
    .b__footer .b__footer--bottom .footer .back_top {
      width: 48px;
      height: 48px;
      background: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: 37px;
      bottom: 40px;
      cursor: pointer; }

/*end footer*/
@media (min-width: 768px) {
  .footer .top .__left .--title {
    display: flex;
    align-items: center;
    flex-direction: column; }

  .footer .top .__left .icon-logo {
    justify-content: center; } }
@media (min-width: 992px) {
  .footer .top .__left .__logo {
    justify-content: flex-start; }

  .footer .top .__left .--title {
    align-items: flex-start; }

  .footer .top .__left .icon-logo {
    justify-content: flex-start; } }
/*---------- end footer css ----------*/
/*---------- components css ----------*/
/*banner*/
.c-banner {
  margin: 0 0 15px;
  text-align: center; }
  .c-banner .c-banner__item {
    margin-bottom: 1px; }
    .c-banner .c-banner__item:last-child {
      margin-bottom: 0; }
    .c-banner .c-banner__item img {
      max-width: 100%; }

/*end banner*/
/*box*/
.c-box {
  margin: 0 0 15px; }
  .c-box .c-box__title .c-box__title__name {
    display: inline-block;
    vertical-align: top; }

/*end box*/
/*---------- end components css ----------*/
/*---------- sidebar css ----------*/
/*---------- end sidebar css ----------*/
/*---------- layout css ----------*/
/*---------- end layout css ----------*/
.text_size45 {
  font-size: 45px; }

.text_size30 {
  font-size: 30px; }

.text_size20 {
  font-size: 20px; }

.bg_overlay {
  overflow: hidden; }

.owl-nav .owl-next,
.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 15px 8px;
  background: #ce1324; }
  .owl-nav .owl-next .fas,
  .owl-nav .owl-prev .fas {
    color: #caaa55;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center; }
.owl-nav .owl-next {
  right: 0;
  left: auto; }

.h_section1 {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.h_section1 .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.h_section1 .swiper-container .swiper-wrapper .swiper-slide:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.81%, #000000 183.54%);
  opacity: 0.6;
  z-index: 1;
  pointer-events: none; }

.h_section1 .swiper-container {
  width: 100%;
  height: 100%; }

.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--text p:nth-of-type(1) img {
  display: block;
  max-width: 100%;
  max-height: 260px;
  margin: 0 auto; }

.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--text p:nth-of-type(2) {
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.49);
  margin-top: 15px; }

.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 15px 11.5%;
  z-index: 1;
  text-align: center; }

.h_section1 .logo {
  position: absolute;
  top: 30px;
  left: 35px;
  display: block;
  max-width: 100px;
  z-index: 10; }

.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: imageScaleAnimation 20s infinite ease; }

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(138.77deg, #ffde9c -13.43%, #ddab33 36.5%, #b27f0a 77.27%, #ae852b 114.95%, #9c7420 155.72%, #936b13 205.64%); }
  .menu.active {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
    background: transparent; }
    .menu.active .menu-box {
      background: transparent; }
      .menu.active .menu-box span {
        background: transparent; }
        .menu.active .menu-box span::before {
          transform: translateY(0px) rotate(45deg);
          width: 20px; }
        .menu.active .menu-box span::after {
          transform: translateY(0px) rotate(-45deg);
          width: 20px; }
  .menu .menu-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: linear-gradient(138.77deg, #ffde9c -13.43%, #ddab33 36.5%, #b27f0a 77.27%, #ae852b 114.95%, #9c7420 155.72%, #936b13 205.64%);
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 100; }
    .menu .menu-box span {
      background-color: #fff;
      font-size: 0;
      width: 20px;
      height: 3px;
      position: absolute;
      top: 22px;
      left: 15px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
      .menu .menu-box span::before, .menu .menu-box span::after {
        content: "";
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
      .menu .menu-box span::before {
        transform: translateY(-6px);
        width: 20px; }
      .menu .menu-box span::after {
        transform: translateY(6px);
        width: 20px; }

.b__banner--top {
  position: relative; }
  .b__banner--top img {
    max-width: 100%;
    width: 100%; }
  .b__banner--top .logo {
    position: absolute;
    left: 15px;
    top: 15px; }
  .b__banner--top .icon_fly {
    position: absolute;
    left: 15px;
    bottom: -100px;
    width: 413px;
    height: 307px; }

.b__title {
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px; }
  .b__title img {
    margin-bottom: 30px;
    max-width: 100%; }
  .b__title p {
    color: #808082;
    text-align: center; }
    .b__title p b {
      color: #606060; }

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 10px;
  z-index: 999;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center; }
  .owl-carousel .owl-dots .owl-dot.active {
    border: 1px solid #f4cf80;
    border-radius: 100%;
    margin: 0 6px; }
    .owl-carousel .owl-dots .owl-dot.active span {
      background: #f4cf80; }
  .owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px; }

.b__tongquan {
  padding: 50px 0;
  position: relative; }
  .b__tongquan .b__icon--top {
    position: absolute;
    left: 10px;
    top: -100px;
    z-index: 1; }
    .b__tongquan .b__icon--top img {
      max-width: 100%; }
  .b__tongquan .b__tongquan--box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; }
    .b__tongquan .b__tongquan--box .b__tongquan--slider {
      flex-basis: 70%;
      max-width: 70%; }
      .b__tongquan .b__tongquan--box .b__tongquan--slider .owl-carousel .owl-item img {
        width: auto;
        display: inline; }
    .b__tongquan .b__tongquan--box .b__tongquan--right {
      flex-basis: 30%;
      max-width: 30%;
      background: #ce1324; }
      .b__tongquan .b__tongquan--box .b__tongquan--right .b__tongquan--content_right {
        height: 100%; }
        .b__tongquan .b__tongquan--box .b__tongquan--right .b__tongquan--content_right .b__tongquan--video {
          height: calc(100% / 2); }
          .b__tongquan .b__tongquan--box .b__tongquan--right .b__tongquan--content_right .b__tongquan--video img {
            max-width: 100%;
            width: 100%;
            height: 100%; }
        .b__tongquan .b__tongquan--box .b__tongquan--right .b__tongquan--content_right .b__tongquan--text {
          height: calc(100% / 2);
          padding: 30px;
          align-items: center;
          justify-content: center;
          display: flex; }
          .b__tongquan .b__tongquan--box .b__tongquan--right .b__tongquan--content_right .b__tongquan--text p {
            color: #fff; }

.b__noibat {
  padding: 50px 0; }
  .b__noibat .b__noibat--info ul {
    padding: 0 100px;
    margin: 0;
    display: flex;
    flex-wrap: wrap; }
    .b__noibat .b__noibat--info ul li {
      list-style: none;
      flex-basis: 20%;
      max-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 16px; }
      .b__noibat .b__noibat--info ul li b {
        font-size: 50px;
        background: -webkit-linear-gradient(70deg, #f0c873, #b3841d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .b__noibat .b__noibat--info ul li img {
        max-width: 100%;
        width: 100%; }

.b__thongtin {
  position: relative; }
  .b__thongtin .b__icon--bottom {
    position: absolute;
    right: 50px;
    bottom: 10px;
    z-index: 1; }
    .b__thongtin .b__icon--bottom img {
      max-width: 100%; }
  .b__thongtin .b__thongtin--info {
    display: flex; }
    .b__thongtin .b__thongtin--info .b__thongtin--left {
      flex-basis: 40%;
      max-width: 40%; }
    .b__thongtin .b__thongtin--info .b__thongtin--right {
      flex-basis: 60%;
      max-width: 60%;
      order: 1;
      background: #f7f8f9;
      position: relative; }
      .b__thongtin .b__thongtin--info .b__thongtin--right .b__title {
        text-align: left;
        padding-left: 6%;
        background: #fff; }
      .b__thongtin .b__thongtin--info .b__thongtin--right > ul {
        padding: 50px 0 0 6%; }
        .b__thongtin .b__thongtin--info .b__thongtin--right > ul li {
          list-style: none;
          margin-bottom: 15px; }
          .b__thongtin .b__thongtin--info .b__thongtin--right > ul li > ul {
            margin-top: 15px; }

.b__chudautu {
  display: flex;
  flex-wrap: wrap;
  background: #ce1324;
  padding-top: 50px; }
  .b__chudautu .b__chudautu--left {
    flex-basis: 60%;
    max-width: 60%;
    background: #fff; }
    .b__chudautu .b__chudautu--left .b__title {
      text-align: left;
      padding-left: 100px;
      background: #ce1324; }
    .b__chudautu .b__chudautu--left .b__chudautu--content {
      padding: 150px 100px; }
      .b__chudautu .b__chudautu--left .b__chudautu--content p {
        color: #808082; }
        .b__chudautu .b__chudautu--left .b__chudautu--content p b {
          color: #606060; }
  .b__chudautu .b__chudautu--right {
    flex-basis: 40%;
    max-width: 40%; }
    .b__chudautu .b__chudautu--right img {
      max-width: 100%; }

.b__tienich .b__tienich--top {
  display: flex;
  flex-wrap: wrap; }
  .b__tienich .b__tienich--top .b__title {
    flex-basis: 30%;
    max-width: 30%;
    background: #ce1324;
    padding: 30px 0;
    margin-bottom: 0; }
  .b__tienich .b__tienich--top .b__tienich--content {
    flex-basis: 70%;
    max-width: 70%;
    padding: 30px; }
    .b__tienich .b__tienich--top .b__tienich--content p {
      max-width: 70%;
      color: #808082; }
      .b__tienich .b__tienich--top .b__tienich--content p b {
        color: #606060; }

.b__matbangchitiet {
  margin-bottom: 50px;
  position: relative; }
  .b__matbangchitiet .b__matbangchitiet--content {
    max-width: 1000px;
    margin: 0 auto; }
    .b__matbangchitiet .b__matbangchitiet--content ul {
      border-bottom: none;
      margin: 0 0 50px; }
      .b__matbangchitiet .b__matbangchitiet--content ul li {
        margin: 0; }
        .b__matbangchitiet .b__matbangchitiet--content ul li a {
          text-transform: uppercase;
          color: #6d6e70;
          border: none;
          border-radius: 0; }
          .b__matbangchitiet .b__matbangchitiet--content ul li a.active, .b__matbangchitiet .b__matbangchitiet--content ul li a:hover {
            background: linear-gradient(90deg, #ffea9c 0%, #ddab33 22.75%, #b27f0a 41.33%, #ae852b 58.5%, #9c7420 77.08%, #936b13 99.83%);
            color: #fff;
            border: none;
            border-radius: 0; }

.b__maps {
  padding: 50px 0; }
  .b__maps .b__maps--info img {
    margin-bottom: 15px; }
  .b__maps .b__maps--info .b__maps--ls {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%; }
    .b__maps .b__maps--info .b__maps--ls ul {
      padding: 0;
      margin: 0;
      flex-basis: 25%;
      max-width: 25%; }
      .b__maps .b__maps--info .b__maps--ls ul li {
        list-style: none;
        margin-bottom: 10px; }
        .b__maps .b__maps--info .b__maps--ls ul li span {
          background: #ce1324;
          width: 25px;
          height: 25px;
          display: inline-block;
          text-align: center;
          border-radius: 100%;
          line-height: 25px;
          color: #fff; }

.b__phankhu {
  padding-bottom: 50px;
  position: relative; }
  .b__phankhu .b__icon--top {
    position: absolute;
    left: 10px;
    top: -100px;
    z-index: 1; }
    .b__phankhu .b__icon--top img {
      max-width: 100%; }
  .b__phankhu .b__phankhu--info {
    display: flex;
    flex-wrap: wrap; }
    .b__phankhu .b__phankhu--info .b__phankhu--left {
      flex-basis: 60%;
      max-width: 60%; }
      .b__phankhu .b__phankhu--info .b__phankhu--left img {
        max-width: 100%;
        width: 100%; }
    .b__phankhu .b__phankhu--info .b__phankhu--right {
      flex-basis: 40%;
      max-width: 40%;
      order: 1; }
      .b__phankhu .b__phankhu--info .b__phankhu--right .b__title {
        text-align: left;
        padding: 20px 50px; }
      .b__phankhu .b__phankhu--info .b__phankhu--right .b__phankhu--content {
        padding: 50px;
        background: #ce1324; }
        .b__phankhu .b__phankhu--info .b__phankhu--right .b__phankhu--content p,
        .b__phankhu .b__phankhu--info .b__phankhu--right .b__phankhu--content li {
          color: #fff;
          list-style: none;
          margin-bottom: 10px; }

.b__chinhsach {
  position: relative; }
  .b__chinhsach .b__icon--top {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1; }
    .b__chinhsach .b__icon--top img {
      max-width: 100%; }
  .b__chinhsach .b__chinhsach--info .b__chinhsach--content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background: #ce1324;
    position: relative; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left,
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--right {
      flex-basis: 50%;
      max-width: 50%; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left {
      display: flex;
      justify-content: flex-end;
      padding-right: 10%;
      padding-bottom: 30px; }
      .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left img {
        max-width: 100%; }

.b__dangky {
  padding: 50px 0; }
  .b__dangky .b__dangky--content form {
    max-width: 700px;
    margin: 0 auto; }
    .b__dangky .b__dangky--content form .rows {
      margin-bottom: 30px; }
    .b__dangky .b__dangky--content form .form-control {
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0; }
      .b__dangky .b__dangky--content form .form-control.btn-register {
        width: 180px;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #ffea9c 0%, #ddab33 22.75%, #b27f0a 41.33%, #ae852b 58.5%, #9c7420 77.08%, #936b13 99.83%);
        outline: none;
        border: none;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1em;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer; }

.pushmenu {
  background: linear-gradient(138.77deg, #ffde9c -13.43%, #ddab33 36.5%, #b27f0a 77.27%, #ae852b 114.95%, #9c7420 155.72%, #936b13 205.64%);
  width: 320px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  padding-top: 100px;
  padding-left: 50px; }
  .pushmenu ul {
    padding: 0; }
    .pushmenu ul li {
      list-style: none;
      margin-bottom: 10px; }
      .pushmenu ul li a {
        text-transform: uppercase;
        color: #fff; }
  .pushmenu .b__social ul {
    display: flex; }
    .pushmenu .b__social ul li {
      margin-right: 15px;
      width: 30px;
      height: 30px;
      background: #ce1324;
      line-height: 30px;
      text-align: center; }

.pushmenu-left {
  right: -320px; }
  .pushmenu-left.pushmenu-open {
    right: 0; }

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  right: 0; }

.pushmenu,
.pushmenu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

nav-list.active {
  background-position: -331px top; }

@media (max-width: 575px) {
  .b__tongquan .b__tongquan--box {
    display: block; }
    .b__tongquan .b__tongquan--box .b__tongquan--slider,
    .b__tongquan .b__tongquan--box .b__tongquan--right {
      flex-basis: 100%;
      max-width: 100%; }

  .b__noibat .b__noibat--info ul {
    padding: 0 15px; }
    .b__noibat .b__noibat--info ul li {
      flex-basis: 50%;
      max-width: 50%;
      margin-bottom: 15px; }

  .b__thongtin .b__thongtin--info {
    display: block; }
    .b__thongtin .b__thongtin--info .b__thongtin--left,
    .b__thongtin .b__thongtin--info .b__thongtin--right {
      flex-basis: 100%;
      max-width: 100%; }
    .b__thongtin .b__thongtin--info .b__thongtin--right::before {
      display: none; }

  .b__chudautu {
    display: block; }
    .b__chudautu .b__chudautu--left,
    .b__chudautu .b__chudautu--right {
      flex-basis: 100%;
      max-width: 100%; }
    .b__chudautu .b__chudautu--left .b__title {
      text-align: center;
      padding-left: 0;
      margin-bottom: 0; }
    .b__chudautu .b__chudautu--left .b__chudautu--content {
      padding: 15px; }

  .b__tienich .b__tienich--top {
    display: flex; }
    .b__tienich .b__tienich--top .b__title,
    .b__tienich .b__tienich--top .b__tienich--content {
      flex-basis: 100%;
      max-width: 100%; }
    .b__tienich .b__tienich--top .b__tienich--content {
      padding: 15px; }
      .b__tienich .b__tienich--top .b__tienich--content p {
        max-width: 100%; }

  .b__maps .b__maps--info .b__maps--ls {
    padding: 0 15px; }
    .b__maps .b__maps--info .b__maps--ls ul {
      flex-basis: 100%;
      max-width: 100%; }

  .b__phankhu .b__phankhu--info {
    display: block; }
    .b__phankhu .b__phankhu--info .b__phankhu--right,
    .b__phankhu .b__phankhu--info .b__phankhu--left {
      flex-basis: 100%;
      max-width: 100%; }

  .b__chinhsach .b__chinhsach--info .b__chinhsach--content {
    display: block; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
      display: none; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left,
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--right {
      flex-basis: 100%;
      max-width: 100%; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left {
      padding: 15px; }
      .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left img {
        max-width: 100%; }

  .b__dangky {
    padding: 15px; } }
@media (min-width: 768px) {
  .b__noibat .b__noibat--info ul {
    padding: 0 15px; }

  .b__thongtin .b__thongtin--info .b__thongtin--right::before {
    display: none; }

  .b__chudautu .b__chudautu--left .b__title {
    padding-left: 0;
    text-align: center;
    margin-bottom: 0; }
  .b__chudautu .b__chudautu--left .b__chudautu--content {
    padding: 15px; }

  .b__maps .b__maps--info .b__maps--ls {
    padding: 0; }

  .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
    display: none; } }
@media (min-width: 992px) {
  .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left {
    padding: 15px; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left img {
      max-width: 350px; }

  .b__noibat .b__noibat--info ul {
    padding: 0 15%; }

  .b__thongtin .b__thongtin--info .b__thongtin--right::before {
    display: none; }

  .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
    display: none; }

  .b__chudautu .b__chudautu--left .b__chudautu--content {
    padding: 150px 100px; } }
@media (min-width: 1200px) {
  .b__chinhsach .b__icon--top {
    top: 0; }

  .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 30px; }
    .b__chinhsach .b__chinhsach--info .b__chinhsach--content .b__chinhsach--left img {
      max-width: 100%; }

  .b__thongtin .b__thongtin--info .b__thongtin--right::before {
    display: block; }

  .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
    display: block; }

  .b__maps .b__maps--info .b__maps--ls {
    padding: 0 15%; } }
/*---------- end product css ----------*/

/*# sourceMappingURL=style.css.map */
