/*---------- footer css ----------*/
/*footer*/
.footer .top .__left .__logo {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer .top .__left .--title {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  text-transform: uppercase;
  margin: 30px 0px 10px;
}
.footer .top .__left .icon-logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}
.footer .top .__left .icon-logo img {
  margin-right: 10px;
}
.b__footer {
  .b__footer--bottom {
    background: $color-bg2;
    position: relative;
    .b__icon--top {
      position: absolute;
      right: 10px;
      top: -100px;
      z-index: 1;
      img {
        max-width: 100%;
      }
    }
    .footer {
      position: relative;
      padding: 45px percentage(120 / 1440);
      background: #356f0e;
      @include mediaMaxWidth(1024px) {
        padding: 45px 30px 93px;
      }
      @include mediaMaxWidth(768px) {
        padding: 45px 30px 63px;
      }
      @include mediaMaxWidth(480px) {
        padding: 45px 15px 63px;
      }
      .top,
      .bottom {
        display: flex;
        @include mediaMaxWidth(768px) {
          flex-direction: column;
        }
      }
      .__left,
      .--copyright {
        width: percentage(365 / 1200);
        @include mediaMaxWidth(768px) {
          width: 100%;
        }
      }
      .__right,
      .--note {
        width: percentage(835 / 1200);
        @include mediaMaxWidth(768px) {
          width: 100%;
        }
      }
      .top {
        padding-bottom: 35px;
        @include mediaMaxWidth(768px) {
          padding-bottom: 0px;
        }
        .__left {
          .logo {
            display: block;
            max-width: 90px;
            @include mediaMaxWidth(768px) {
              margin: 0 15px;
            }
            img {
              display: block;
              max-width: 100%;
              height: auto;
            }
          }
          .--follow-us {
            padding-top: 30px;
            @include mediaMaxWidth(768px) {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 25px 0px;
            }
            p {
              font-size: 14px;
              line-height: 22px;
              color: #ffffff;
              padding-bottom: 14px;
            }
            .--item {
              display: flex;
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #85ba4b;
                width: 40px;
                height: 40px;
                margin-right: 4px;
                &:last-child {
                  margin-right: 0px;
                }
                i {
                  color: #ffffff;
                  font-size: 13px;
                }
              }
            }
          }
        }
        .__right {
          .--block {
            width: calc((100% - 13%) / 2);
            margin-right: 13%;
            float: left;
            @include mediaMaxWidth(1024px) {
              width: calc((100% - 45px) / 2);
              margin-right: 45px;
            }
            @include mediaMaxWidth(768px) {
              width: 100%;
              margin-right: 0px;
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 30px;
              }
            }
            &:nth-of-type(2n) {
              margin-right: 0px;
            }
            .--item {
              margin-bottom: 28px;
              @include mediaMaxWidth(768px) {
                margin-bottom: 15px;
              }
              &:last-child {
                margin-bottom: 0px;
              }
              a,
              &:hover,
              &:focus {
                color: #ffffff;
              }
              .--title {
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                color: #ffffff;
              }
              .--excerpt {
                font-size: 14px;
                line-height: 24px;
                color: #ffffff;
                .text-tel {
                  font-size: 40px;
                }
              }
            }
          }
        }
      }
      .bottom {
        .--copyright {
          font-size: 12px;
          line-height: 22px;
          color: #ffffff;
          padding-top: 35px;
          @include mediaMaxWidth(768px) {
            order: 2;
            padding-top: 30px;
            text-align: center;
          }
        }
        .--note {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          padding-top: 35px;
          padding-right: percentage(120 / 1200);
          @include mediaMaxWidth(1024px) {
            padding-right: 0px;
          }
          @include mediaMaxWidth(768px) {
            order: 1;
            padding-top: 30px;
          }
          p {
            font-size: 13px;
            line-height: 21px;
            color: #ffffff;
            margin-bottom: 20px;
            @include mediaMaxWidth(480px) {
              margin-bottom: 10px;
            }
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
      .back_top {
        width: 48px;
        height: 48px;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        right: 37px;
        bottom: 40px;
        cursor: pointer;
      }
    }
  }
}

/*end footer*/
//footer responsive css
@media (max-width: $screen-xxs-max) {
  .footer {
  }
}
@media (min-width: $screen-xs-min) {
}
@media (min-width: $screen-sm-min) {
  .footer .top .__left .--title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer .top .__left .icon-logo {
    justify-content: center;
  }
}
@media (min-width: $screen-md-min) {
  .footer .top .__left .__logo {
    justify-content: flex-start;
  }
  .footer .top .__left .--title {
    align-items: flex-start;
  }
  .footer .top .__left .icon-logo {
    justify-content: flex-start;
  }
}
@media (min-width: $screen-lg-min) {
}
//end footer responsive css
/*---------- end footer css ----------*/
