.text-error {
  color: #ae191c;
}
.price-odd {
  text-decoration-line: line-through; 
}
.b__main--content {
  display: flex;
  width: 100%;
  padding: 30px;
  .b__content {
    flex-basis: calc(80% - 300px);
    max-width: calc(80% - 300px);
    padding: 0 30px; 
    .b__content--info { 
      border-radius: 10px;
    }
    .b__content--slider_top {
      margin-bottom: 30px;
      .b__slider--top {
        padding: 0 35px;
      }
    }
  }
}
.b__location {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-white;
  padding: 15px;
  position: relative;
  &::before {
    content:'';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;;
    background: $color-primary; 
    border-radius: 10px;
  }
  .b__location--left {
    display: flex;
    align-items: center;
    a {
      color: $color-primary;
      display: flex;
      align-items: center;
      .fa-map-marker-alt {
        font-size: 30px;
        margin-left: 10px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .b__location--right {
    .btn-sale {
      background: $color-primary;
      color: $color-white;
      min-width: 150px;
      cursor: pointer;
    }
  }
  .b__location--avatar {
    height: 77px;
    width: 77px;
    
    img {
      border-radius: 100%;
      border: 2px solid #838383;
    }
  }
}
.b__content--bottom {
  background-color: $color-white;
  padding: 15px;
  margin-bottom: 30px;
  .b__content--ls {
    display: flex; 
    margin-bottom: 30px;
    .b__content--desc {
      >ul {
        margin: 0 0 10px;
        padding: 0;
        display: flex;
        li {
          list-style: none;
          margin-right: 30px;
        }
      }
      .b__content--rows {
        display: flex;
        ul {
          padding: 0;
          margin: 0 30px 0 0;
          li {
            list-style: none; 
            label {
              margin: 0 15px 0 0;
            }
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .b__gallery {
    .b__gallery--ls {
      display: flex;
      align-items: stretch;
      margin-bottom: 10px;
      
      
      img {
        max-width: 100%;
        width: 100%;
        border-radius: 30px;
        border: 3px solid #838383;
      }
      .b__gallery--singe {
        flex-basis: 50%;
        max-width: 50%; 
        padding: 5px;
        
        .b__gallery--singe_info {
          position: relative;
          &::before {
            content: '';
            background:  rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 30px;
            border: 3px solid #838383;
            top: 0;
            left: 0;
          }
        }
      }
      .b__gallery--doulle { 
        flex-basis: 50%;
        max-width: 50%;   
        padding: 5px;
        
        .b__gallery--doulle_ls--info {
          position: relative;
          &::before {
            content: '';
            background: rgba(0, 0, 0, 0.4);
            border: 3px solid #838383;
            border-radius: 30px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .b__gallery--doulle_ls {
          height: calc(50% - 5px);
          margin-bottom: 10px;
          position: relative;
          .b__gallery--desc {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%); 
            z-index: 999;
            p {
              color: $color-white;
              margin-bottom: 0;
              font-size: 40px;
            }
          }
          img {
            width: 100%;
          }
          &.b__gallery--doulle_bottom {
            margin-bottom: 0;
          }
        }
      }
    }
    .b__comment--related {
      margin-bottom: 30px;
      .b__view--cmt {
        margin-bottom: 10px;
        a {
          color: #000;
        }
      }
      .b__comment--ls {
        .media { 
          &.media__coment {
            align-items: center;
          }
          .img_avt {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            margin-right: 15px;
            border: 2px solid #838383;
          }
          .media-body {
            ul.b__like {
              display: flex;
              padding: 0;
              li {
                list-style: none;
                padding: 0 10px;
                a {
                  color: #000;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
            .b__media--info {
              background: #e7e7e7;
              padding: 10px 15px;
              border-radius: 10px;
              display: inline-block;
              &.b__media--comment {
                background: transparent;
                display: block;
                position: relative;
                .form-control {
                  border-radius: 20px;
                }
                .fa-smile {
                  position: absolute;
                  right: 30px;
                  top: 18px;
                  font-size: 20px;
                  color:  rgba(0,0,0,.15);
                  cursor: pointer;
                }
                .fa-camera {
                  position: absolute;
                  right: 60px;
                  top: 18px;
                  font-size: 20px;
                  color:  rgba(0,0,0,.15);
                  cursor: pointer;
                }
              }
              h5 {
                margin-bottom: 0;
              }
              p {
                margin: 0;
              }
            }
          }
        }
        .b__all--comment {
          margin-left: 80px;
          margin-bottom: 15px;
          position: relative;
          &::before {
            content:'';
            background-image: url('../images/icon_all_cmt.png');
            background-size: cover;
            width: 23px;
            height: 45px;
            position: absolute;
            left: -40px;
            bottom: 30%;
          }
        }
      }
    }
  }
  .b__content--comment {
    margin-bottom: 30px;
    ul {
      padding: 0 100px;
      margin: 0;
      display: flex;
      li {
        flex-basis: 33.33%;
        max-width: 33.33%;
        list-style: none;
        text-align: center;
        .b__icon--ls {
          margin-bottom: 5px;
          .far, .fas {
            font-size: 30px;
            color: $color-primary;
          }
        }
        a {
          color: #000;
          &:hover {
            text-decoration: none;
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
  .b__content--avatar {
    height: 77px;
    width: 77px;
    margin-right: 10px;
    img {
      border-radius: 100%;
    }
  }
}
.b__content--related { 
  border-radius: 10px 10px 0 0;
  h3 {
    background: $color-primary;
    color: $color-white;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    padding: 15px;
    font-size: 20px;
  }
  .b__slider--bottom {
    padding: 15px;
    background: $color-white;
  }
}
.owl-nav {
  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: $color-white;
    box-shadow: 1px 3px 8px #8a8a8a;
    .fas {
      color: #333;
      font-size: 20px; 
      text-align: center;
    }
  }
  .owl-next {
    right: 0;
    left: auto;
  }
}
@media (max-width: $screen-xxs-max) {
  .b__main--content {
    padding: 0;
    .b__content {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
  .b__content--bottom {
    // .b__gallery {
    //   .b__gallery--ls {
    //     display: block;
    //     .b__gallery--singe,
    //     .b__gallery--doulle {
    //       flex-basis: 100%;
    //       max-width: 100%;
    //     }
    //   }
    // }
    .b__content--comment {
      ul {
        padding: 0;
      } 
    }
    .b__content--ls {
      .b__content--desc {
        .b__content--rows {
          display: block;
        }
      }
    }
  }
}
@media (min-width: $screen-xs-min) {
}
@media (min-width: $screen-sm-min) {
   
}
@media (min-width: $screen-md-min) {
   
}
@media (min-width: $screen-lg-min) {
   
}
//end product responsive css
/*---------- end product css ----------*/
