.text_size45 {
  font-size: 45px;
}
.text_size30 {
  font-size: 30px;
}
.text_size20 {
  font-size: 20px;
}
.bg_overlay {
  overflow: hidden;
}

.owl-nav {
  .owl-next,
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 15px 8px;
    background: $color-bg2;
    .fas {
      color: #caaa55;
      font-size: 30px;
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }
  .owl-next {
    right: 0;
    left: auto;
  }
}
.h_section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.h_section1 .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.h_section1 .swiper-container .swiper-wrapper .swiper-slide:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.81%, #000000 183.54%);
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
}
.h_section1 .swiper-container {
  width: 100%;
  height: 100%;
}
.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--text p:nth-of-type(1) img {
  display: block;
  max-width: 100%;
  max-height: 260px;
  margin: 0 auto;
}
.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--text p:nth-of-type(2) {
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.49);
  margin-top: 15px;
}
.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 15px 11.5%;
  z-index: 1;
  text-align: center;
}
.h_section1 .logo {
  position: absolute;
  top: 30px;
  left: 35px;
  display: block;
  max-width: 100px;
  z-index: 10;
}
.h_section1 .swiper-container .swiper-wrapper .swiper-slide .--background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: imageScaleAnimation 20s infinite ease;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(
    138.77deg,
    #ffde9c -13.43%,
    #ddab33 36.5%,
    #b27f0a 77.27%,
    #ae852b 114.95%,
    #9c7420 155.72%,
    #936b13 205.64%
  );
  &.active {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
    background: transparent;
    .menu-box {
      background: transparent;
      span {
        background: transparent;
        &::before {
          transform: translateY(0px) rotate(45deg);
          width: 20px;
        }
        &::after {
          transform: translateY(0px) rotate(-45deg);
          width: 20px;
        }
      }
    }
  }
  .menu-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: linear-gradient(
      138.77deg,
      #ffde9c -13.43%,
      #ddab33 36.5%,
      #b27f0a 77.27%,
      #ae852b 114.95%,
      #9c7420 155.72%,
      #936b13 205.64%
    );
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 100;
    span {
      background-color: #fff;
      font-size: 0;
      width: 20px;
      height: 3px;
      position: absolute;
      top: 22px;
      left: 15px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      &::before,
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
      }
      &::before {
        transform: translateY(-6px);
        width: 20px;
      }
      &::after {
        transform: translateY(6px);
        width: 20px;
      }
    }
  }
}
.b__banner--top {
  position: relative;
  img {
    max-width: 100%;
    width: 100%;
  }
  .logo {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .icon_fly {
    position: absolute;
    left: 15px;
    bottom: -100px;
    width: 413px;
    height: 307px;
  }
}
.b__title {
  margin-bottom: 30px;
  text-align: center;
  padding: 0 15px;
  img {
    margin-bottom: 30px;
    max-width: 100%;
  }
  p {
    color: #808082;
    text-align: center;
    b {
      color: #606060;
    }
  }
}
.owl-carousel {
  .owl-dots {
    position: absolute;
    bottom: 10px;
    z-index: 999;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    .owl-dot {
      &.active {
        border: 1px solid #f4cf80;
        border-radius: 100%;
        margin: 0 6px;
        span {
          background: #f4cf80;
        }
      }
      span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #fff;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 0.2s ease;
        border-radius: 30px;
      }
    }
  }
}
.b__tongquan {
  padding: 50px 0;
  position: relative;
  .b__icon--top {
    position: absolute;
    left: 10px;
    top: -100px;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  .b__tongquan--box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .b__tongquan--slider {
      flex-basis: 70%;
      max-width: 70%;
      .owl-carousel .owl-item img {
        width: auto;
        display: inline;
      }
    }
    .b__tongquan--right {
      flex-basis: 30%;
      max-width: 30%;
      background: $color-bg2;
      .b__tongquan--content_right {
        height: 100%;
        .b__tongquan--video {
          height: calc(100% / 2);
          img {
            max-width: 100%;
            width: 100%;
            height: 100%;
          }
        }
        .b__tongquan--text {
          height: calc(100% / 2);
          padding: 30px;
          align-items: center;
          justify-content: center;
          display: flex;
          p {
            color: $color-white;
          }
        }
      }
    }
  }
}
.b__noibat {
  padding: 50px 0;
  .b__noibat--info {
    ul {
      padding: 0 100px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        flex-basis: 20%;
        max-width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        b {
          font-size: 50px;
          background: -webkit-linear-gradient(70deg, #f0c873, #b3841d);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
.b__thongtin {
  position: relative;
  .b__icon--bottom {
    position: absolute;
    right: 50px;
    bottom: 10px;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  .b__thongtin--info {
    display: flex;
    .b__thongtin--left {
      flex-basis: 40%;
      max-width: 40%;
    }
    .b__thongtin--right {
      flex-basis: 60%;
      max-width: 60%;
      order: 1;
      background: #f7f8f9;
      position: relative;
      // &::before {
      //   content: "";
      //   background: url(../images/img_fly.png) no-repeat;
      //   background-size: cover;
      //   width: 413px;
      //   height: 307px;
      //   position: absolute;
      //   bottom: 105px;
      //   right: 50px;
      //   transform: rotate(-45deg);
      // }
      .b__title {
        text-align: left;
        padding-left: 6%;
        background: #fff;
      }
      > ul {
        padding: 50px 0 0 6%;
        li {
          list-style: none;
          margin-bottom: 15px;
          > ul {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
.b__chudautu {
  display: flex;
  flex-wrap: wrap;
  background: $color-bg2;
  padding-top: 50px;
  .b__chudautu--left {
    flex-basis: 60%;
    max-width: 60%;
    background: $color-white;
    .b__title {
      text-align: left;
      padding-left: 100px;
      background: $color-bg2;
    }
    .b__chudautu--content {
      padding: 150px 100px;
      p {
        color: #808082;
        b {
          color: #606060;
        }
      }
    }
  }
  .b__chudautu--right {
    flex-basis: 40%;
    max-width: 40%;
    img {
      max-width: 100%;
    }
  }
}
.b__tienich {
  .b__tienich--top {
    display: flex;
    flex-wrap: wrap;
    .b__title {
      flex-basis: 30%;
      max-width: 30%;
      background: $color-bg2;
      padding: 30px 0;
      margin-bottom: 0;
    }
    .b__tienich--content {
      flex-basis: 70%;
      max-width: 70%;
      padding: 30px;
      p {
        max-width: 70%;
        color: #808082;
        b {
          color: #606060;
        }
      }
    }
  }
}
.b__matbangchitiet {
  margin-bottom: 50px;
  position: relative;
  .b__matbangchitiet--content {
    max-width: 1000px;
    margin: 0 auto;
    ul {
      border-bottom: none;
      margin: 0 0 50px;
      li {
        margin: 0;
        a {
          text-transform: uppercase;
          color: #6d6e70;
          border: none;
          border-radius: 0;
          &.active,
          &:hover {
            background: linear-gradient(
              90deg,
              #ffea9c 0%,
              #ddab33 22.75%,
              #b27f0a 41.33%,
              #ae852b 58.5%,
              #9c7420 77.08%,
              #936b13 99.83%
            );
            color: $color-white;
            border: none;
            border-radius: 0;
          }
        }
      }
    }
  }
}
.b__maps {
  padding: 50px 0;
  .b__maps--info {
    img {
      margin-bottom: 15px;
    }
    .b__maps--ls {
      display: flex;
      flex-wrap: wrap;
      padding: 0 15%;

      ul {
        padding: 0;
        margin: 0;
        flex-basis: 25%;
        max-width: 25%;
        li {
          list-style: none;
          margin-bottom: 10px;
          span {
            background: $color-bg2;
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            border-radius: 100%;
            line-height: 25px;
            color: #fff;
          }
        }
      }
    }
  }
}
.b__phankhu {
  padding-bottom: 50px;
  position: relative;
  .b__icon--top {
    position: absolute;
    left: 10px;
    top: -100px;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  .b__phankhu--info {
    display: flex;
    flex-wrap: wrap;
    .b__phankhu--left {
      flex-basis: 60%;
      max-width: 60%;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .b__phankhu--right {
      flex-basis: 40%;
      max-width: 40%;
      order: 1;
      .b__title {
        text-align: left;
        padding: 20px 50px;
      }
      .b__phankhu--content {
        padding: 50px;
        background: $color-bg2;
        p,
        li {
          color: $color-white;
          list-style: none;
          margin-bottom: 10px;
        }
      }
    }
  }
}
.b__chinhsach {
  position: relative;
  .b__icon--top {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1;
    img {
      max-width: 100%;
    }
  }
  .b__chinhsach--info {
    .b__chinhsach--content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      background: $color-bg2;
      position: relative;
      // &::before {
      //   content: "";
      //   background: url("../images/img_fly.png") no-repeat;
      //   background-size: cover;
      //   width: 413px;
      //   height: 307px;
      //   position: absolute;
      //   left: 15px;
      //   top: -145px;
      // }
      .b__chinhsach--left,
      .b__chinhsach--right {
        flex-basis: 50%;
        max-width: 50%;
      }
      .b__chinhsach--left {
        display: flex;
        justify-content: flex-end;
        padding-right: 10%;
        padding-bottom: 30px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
.b__dangky {
  padding: 50px 0;
  .b__dangky--content {
    form {
      max-width: 700px;
      margin: 0 auto;
      .rows {
        margin-bottom: 30px;
      }
      .form-control {
        border: none;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        &.btn-register {
          width: 180px;
          height: 48px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            90deg,
            #ffea9c 0%,
            #ddab33 22.75%,
            #b27f0a 41.33%,
            #ae852b 58.5%,
            #9c7420 77.08%,
            #936b13 99.83%
          );
          outline: none;
          border: none;
          margin: 0 auto;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1em;
          color: #ffffff;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
.pushmenu {
  background: linear-gradient(
    138.77deg,
    #ffde9c -13.43%,
    #ddab33 36.5%,
    #b27f0a 77.27%,
    #ae852b 114.95%,
    #9c7420 155.72%,
    #936b13 205.64%
  );
  width: 320px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  // overflow-x: scroll;
  padding-top: 100px;
  padding-left: 50px;
  ul {
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      a {
        text-transform: uppercase;
        color: $color-white;
      }
    }
  }
  .b__social {
    ul {
      display: flex;
      li {
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background: $color-bg2;
        line-height: 30px;
        text-align: center;
      }
    }
  }
}
.pushmenu-left {
  right: -320px;
  &.pushmenu-open {
    right: 0;
  }
}
.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  right: 0;
}
// .pushmenu-push-toright {
//   right: 320px;
// }
.pushmenu,
.pushmenu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav-list.active {
  background-position: -331px top;
}
//product responsive css
@media (max-width: $screen-xxs-max) {
  .b__tongquan {
    .b__tongquan--box {
      display: block;
      .b__tongquan--slider,
      .b__tongquan--right {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  .b__noibat {
    .b__noibat--info {
      ul {
        padding: 0 15px;
        li {
          flex-basis: 50%;
          max-width: 50%;
          margin-bottom: 15px;
        }
      }
    }
  }
  .b__thongtin {
    .b__thongtin--info {
      display: block;
      .b__thongtin--left,
      .b__thongtin--right {
        flex-basis: 100%;
        max-width: 100%;
      }
      .b__thongtin--right {
        &::before {
          display: none;
        }
      }
    }
  }
  .b__chudautu {
    display: block;
    .b__chudautu--left,
    .b__chudautu--right {
      flex-basis: 100%;
      max-width: 100%;
    }
    .b__chudautu--left {
      .b__title {
        text-align: center;
        padding-left: 0;
        margin-bottom: 0;
      }
      .b__chudautu--content {
        padding: 15px;
      }
    }
  }
  .b__tienich {
    .b__tienich--top {
      display: flex;
      .b__title,
      .b__tienich--content {
        flex-basis: 100%;
        max-width: 100%;
      }
      .b__tienich--content {
        padding: 15px;
        p {
          max-width: 100%;
        }
      }
    }
  }
  .b__maps {
    .b__maps--info {
      .b__maps--ls {
        padding: 0 15px;
        ul {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }
  .b__phankhu {
    .b__phankhu--info {
      display: block;
      .b__phankhu--right,
      .b__phankhu--left {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  .b__chinhsach {
    .b__chinhsach--info {
      .b__chinhsach--content {
        display: block;
        &::before {
          display: none;
        }
        .b__chinhsach--left,
        .b__chinhsach--right {
          flex-basis: 100%;
          max-width: 100%;
        }
        .b__chinhsach--left {
          padding: 15px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  .b__dangky {
    padding: 15px;
  }
}
@media (min-width: $screen-xs-min) {
}
@media (min-width: $screen-sm-min) {
  .b__noibat {
    .b__noibat--info {
      ul {
        padding: 0 15px;
      }
    }
  }
  .b__thongtin {
    .b__thongtin--info {
      .b__thongtin--right {
        &::before {
          display: none;
        }
      }
    }
  }
  .b__chudautu {
    .b__chudautu--left {
      .b__title {
        padding-left: 0;
        text-align: center;
        margin-bottom: 0;
      }
      .b__chudautu--content {
        padding: 15px;
      }
    }
  }
  .b__maps {
    .b__maps--info {
      .b__maps--ls {
        padding: 0;
      }
    }
  }
  .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
    display: none;
  }
}
@media (min-width: $screen-md-min) {
  .b__chinhsach {
    .b__chinhsach--info {
      .b__chinhsach--content {
        .b__chinhsach--left {
          padding: 15px;
          img {
            max-width: 350px;
          }
        }
      }
    }
  }
  .b__noibat {
    .b__noibat--info {
      ul {
        padding: 0 15%;
      }
    }
  }
  .b__thongtin {
    .b__thongtin--info {
      .b__thongtin--right {
        &::before {
          display: none;
        }
      }
    }
  }
  .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
    display: none;
  }
  .b__chudautu .b__chudautu--left .b__chudautu--content {
    padding: 150px 100px;
  }
}
@media (min-width: $screen-lg-min) {
  .b__chinhsach .b__icon--top {
    top: 0;
  }
  .b__chinhsach {
    .b__chinhsach--info {
      .b__chinhsach--content {
        .b__chinhsach--left {
          display: flex;
          justify-content: flex-end;
          padding-right: 15px;
          padding-bottom: 30px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  .b__thongtin {
    .b__thongtin--info {
      .b__thongtin--right {
        &::before {
          display: block;
        }
      }
    }
  }
  .b__chinhsach .b__chinhsach--info .b__chinhsach--content::before {
    display: block;
  }
  .b__maps .b__maps--info .b__maps--ls {
    padding: 0 15%;
  }
}
//end product responsive css
/*---------- end product css ----------*/
